@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&family=Noto+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&family=Noto+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yeon+Sung&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hahmlet:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gugi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&display=swap');
*{
    margin: 0;
    padding: 0;
}

:root{
    --background-color: #FBFAF7;
    --non-active-color: #d8d8d8;
    --font-none-active: #C0C0C0;
    --font-color: #000;
    --lineback: #FBFAF7;
}

:root[color-theme='light'] {
    --background-color: #FBFAF7;
    --non-active-color: #d8d8d8;
    --font-none-active: #C0C0C0;
    --font-color: #000;
    --lineback: #FBFAF7;
  }
  
  :root[color-theme='dark'] {
    --background-color: #1f1f1f;
    --non-active-color: #7a7a7a;
    --font-none-active: #9c9c9c;
    --font-color: rgb(255, 255, 255);
    --lineback: #FBFAF7;
  }

.main_header{
    border-bottom: 1px var(--non-active-color) solid;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
}

.main_header .header_menu{
    display: flex;
    gap: 126px;
    align-items: center;
}

.main_header .header_menu .logo a{
    font-size: 20px;
    color: var(--font-color);
    text-decoration: none;
    font-weight: 600;
}

.main_header .header_menu .menu{
    display: flex;
    gap: 24px;
}
.main_header .header_menu .menu a{
    font-size: 16px;
    text-decoration: none;
    color: var(--font-color);
    position: relative;
}

.main_header .header_menu .menu a:hover::before{
    height: 2px;
    
}
.main_header .header_menu .menu a::before{
    content: '';
    position: absolute;
    height: 0px;
    bottom: -25px;
    width: 100%;
    background-color: var(--font-color);
    transition: all 0.2s ease-in-out;
}

.main_header .utility{
    display: flex;
    gap: 24px;
    align-items: center;
}
.main_header .utility a{
    text-decoration: none;
    color: var(--font-color);
}



/* 다크모드 */
.darkmode{
    width: 60px;
    height: 30px;
    border: 1px solid var(--font-color);
    border-radius: 40px;
    position: relative;
}
.darkmode div{
    width: 22px;
    height: 22px;
    border: 1px solid var(--font-color);
    border-radius: 40px;
    position: absolute;
    top: 50%;
    left: 3px;
    transform: translate(0,-50%);
    transition: all 0.2s ease-in;
}
.darkmode div.open{
    left: 32px;
}

/* 두번째 헤더 */

.sub_header{
    display: flex;
    margin-top: 40px;
    align-items: center;
    flex-wrap: wrap;
    gap: 36px;
}

.sub_header .left_util{
    display: flex;
    align-items: center;
    margin-right: -36px;
}

input[type=text] {
    border: none;
    border-bottom: 1px solid var(--non-active-color);
    background-color: transparent;
    padding: 12px;
    transition: all 0.6s ease;
    color: var(--font-color);
}
input[type=text]:focus {
    border-bottom: 1px solid var(--font-color);
}
input:focus {
    outline: none;
}
input[type=text]::placeholder {
    font-size: 12px;
}
input[type=text]:nth-child(1) {
    margin-right: 12px;
    width: 246px;
}
input[type=text]:nth-child(2) {
    margin-right: 12px;
    width: 300px;
}
.search{
    position: relative;
}
.search input[type=submit]{
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.search i{
    position: absolute;
    top:45%;
    transform: translateY(-50%);
    right: 24px;
    color: var(--font-color);
    cursor: pointer;
}

select:focus { outline: none;}
.selector{
    width: 100px;
    display: flex;
    align-items: center;
}
select[name=font] {
    padding: 0 12px;
}
select {
    cursor: pointer;
    -webkit-appearance: none; 
    -moz-appearance: none;
    appearance: none;
    border: none;
    background-color: transparent;
    width: 60px;
    color: var(--font-color);
}

select::-ms-expand {
    display: none;
}
.selector i {
    color: var(--font-color);
    margin-left: -16px;
}

.range_div {
    margin-right: 46px;
    position: relative;
}

/* 슬라이더 */
input[type=range] {
    -webkit-appearance: none;
    width: 400px;
    height: 12px;
    background-color: transparent;
  }
  input[type=range]:focus {
    outline: none;
  }

  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    background: var(--non-active-color);
    border-radius: 0px;
  }
  .range_gray {
      width: 114px;
      height: 2px;
      position: absolute;
      background-color: var(--font-color);
      top: 50%;
      transform: translateY(-50%);
      left: 0;
  }
  input[type=range]::-webkit-slider-thumb {
    border: 2px solid var(--font-color);
    height: 20px;
    width: 20px;
    border-radius: 50px;
    background: var(--background-color);
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -9.5px;
  }

/* 줄 정렬 */
.text_line {
    display: flex;
    gap: 24px;
}

.text_line div div{
    transition: all 0.2s ease-in-out;
}
.text_line div div.selectColor{
    background-color: var(--font-color);
}

.left {
    position: relative;
    width: 34px;
    height: 13px;
    display: flex;
}
.left div{
    position: absolute;
    background-color: var(--non-active-color);
}
.left div:nth-child(1){width: 100%; height: 1px; top: 0;}
.left div:nth-child(2){width: 60%; height: 1px; top: 48%;}
.left div:nth-child(3){width: 100%; height: 1px; bottom: 0;}

.center {
    position: relative;
    width: 34px;
    height: 13px;
    display: flex;
}
.center div{
    position: absolute;
    background-color: var(--non-active-color);
}
.center div:nth-child(1){width: 100%; height: 1px; top: 0;}
.center div:nth-child(2){width: 60%; height: 1px; top: 48%; right:22%;}
.center div:nth-child(3){width: 100%; height: 1px; bottom: 0;}

.right {
    position: relative;
    width: 34px;
    height: 13px;
    display: flex;
}
.right div{
    position: absolute;
    background-color: var(--non-active-color);
}
.right div:nth-child(1){width: 100%; height: 1px; top: 0;}
.right div:nth-child(2){width: 60%; height: 1px; top: 48%; right: 0;}
.right div:nth-child(3){width: 100%; height: 1px; bottom: 0;}

.text_line div:hover{
    cursor: pointer;
}

/* 선택사항 */
.right_util {
    padding-top: 8px;
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: space-between;
}
.right_util div{
    display: flex;
    align-items: center;
}
.license {
    width: 100px;
    display: flex;
    align-items: center;
    margin-left: 16px;
}

select[name=selector_2] {
    font-size: 14px;
    padding: 0 12px;
}
select[name=selector_2] option {
    color: #000;
}

.license select {
    width: 100%;
}
.license i {
    color: var(--font-color);
}

  /* 메인 그리드 */
.container_main {
    margin-top: 100px;
    margin-bottom: 168px;
}

.font_Sorting {
    display: flex;
    justify-content: space-between;
}

.font_Sorting h4 {
    font-size: 20px;
    font-weight: 400;
    color: var(--font-color);
}

.Sorting {
    font-size: 12px;
    color: var(--non-active-color);
    display: flex;
    align-items: center;
    gap: 16px;
}

.line {
    width: 100px;
    height: 1px;
    background-color: var(--non-active-color);
    display: block;
}

.Sorting span{
    cursor: pointer;
}
.selected{color: var(--font-color);}

.range{
    background-color: var(--font-color);
}

body{
    background-color: var(--background-color);
    font-family: 'Noto Sans', sans-serif;
    margin-left:auto;
	margin-right:auto;
	max-width: 1800px;
    padding: 0 50px;
}

.grid {
    display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(auto, minmax(50px,auto));
	grid-auto-flow: dense;
    box-sizing: border-box;
    border-top: 1px solid var(--non-active-color);
    border-left: 1px solid var(--non-active-color);
    margin-top: 36px;
}
.item {
    position: relative;
    border-right: 1px solid var(--non-active-color);
    border-bottom: 1px solid var(--non-active-color);
    height: 450px;
    padding: 38px 40px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.item::before {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    content: '';
    outline: 1px transparent solid;
    box-sizing: border-box;
    transition: all 0.2s ease-in-out;
}
.item:hover::before{
    outline: 1px var(--font-color) solid;
    z-index: 2;
    box-sizing: border-box;
}

.item .top {
    font-size: 12px;
    color: var(--font-none-active);
    display: flex;
    justify-content: space-between;
}
.item .top .styles {
    font-weight: 900;
    margin-left: 12px;
}

.item .middle {
    margin: 20px 0 20px 0;
    flex-grow: 1;
    font-size: 36px;
    overflow:hidden;
    word-break: keep-all;
    word-wrap: break-word;
    width: 100%;
    line-height: 160%;
    text-align: left;
    color: var(--font-color);
}
.item .bottom {
    color: var(--font-none-active);
    font-size: 12px;
}

.one .middle{
    
}

.two .middle{
    font-family: 'Nanum Gothic', sans-serif;
}

.three .middle{
    font-family: 'Nanum Myeongjo', serif;
}

.four .middle{
    font-family: 'Yeon Sung', cursive;
}

.five .middle{
    font-family: 'Hahmlet', serif;
}

.six .middle{
    font-family: 'Black Han Sans', sans-serif;
}

.seven .middle{
    font-family: 'Gugi', cursive;
}

.eight .middle{
    font-family: 'East Sea Dokdo', cursive;
}

@media screen and (max-width: 1600px) { 
    .grid { 
        grid-template-columns: repeat(3, 1fr);
    } 
}

@media screen and (max-width: 1200px) { 
    .grid { 
        grid-template-columns: repeat(2, 1fr);
    } 
}

@media screen and (max-width: 1000px) { 
    .grid { 
        grid-template-columns: repeat(1, 1fr);
    } 
}

footer {
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
    border-top: 1px var(--font-color) solid;
}

footer .SNS a{
    text-decoration: none;
    font-size: 12px;
    font-weight: 700;
    color: var(--font-color);
    margin-right: 30px;
}

footer .Copy {
    font-size: 12px;
    font-weight: 700;
    color: var(--font-color);
}