@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');


*{
    margin: 0;
    padding: 0;
}

:root{
    --font-white: #fff;
    --font-black: #171010;
    --body-color: #FAF8F0;
    --line-color: #EEECDE;
    --fig-color: #CECDC8;
}

html {
    scroll-behavior: smooth;
}

body{
    background-color: var(--body-color);
}


/* 위쪽 메뉴 */
.main_header{
    justify-content: space-between;
    padding: 0 24px;
    padding-bottom: 242px;
    display: flex;
    align-items: center;
    background: linear-gradient(rgb(0, 0, 0), transparent);
}
/* 로고 */
.logo img{
    width: 100px;
}
/* 메뉴 글씨들 */
.menu a{
    margin-left: 36px;
    font-family: 'Noto Sans', sans-serif;
    font-size: 18px;
    text-decoration: none;
    color: var(--font-white);
    font-weight: 300;
}

/* 패럴랙스 되는 배경화면 */
.parallax{
    background-image: url(image/parallax_1.jpg);
    background-position: center;
    background-size: cover;
    background-position-y: 0px;
}
/* 패럴렉스 폰트 */
.h1para {
    width: 100%;
    margin-top: -260px;
    overflow: hidden;
}

h1{
    color: var(--font-white);
    font-size: 188px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
    white-space: nowrap;
    line-height: normal;
    clear: both;
    float: left;
    margin-left: -400px;
}

.middle_font {
    box-sizing: border-box;
    margin-top: 1000px;
    color: var(--font-white);
    font-size: 46px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding:0 24px;
    font-family: 'Old Standard TT', serif;
}
.middle_font span:nth-child(1){
}
.middle_font span:nth-child(2){
    font-style: italic;
}
.middle_font span:nth-child(3){}
.middle_font span:nth-child(4){
    font-family: 'Koulen', cursive;
}

.bottom {
    margin-top: 1000px;
    font-family: 'Old Standard TT', serif;
}
.bottom p{
    text-align: center;
    color: var(--font-white);
    font-size: 108px;
    line-height: 100px;
    letter-spacing: -10px;
}
.bottom p span{
    font-style: italic;
}

.info{
    margin-top: 1000px;
    padding-bottom: 36px;
}
.info p{
    color: var(--font-white);
    text-align: center;
    margin-bottom: 12px;
}
.info p:nth-child(1){
    font-size: 30px;
}
.info p:nth-child(2){
    font-size: 12px;
}


/* 섹션 크기 */
section{
    width: calc((100vw - 240px));
    margin: 0 auto;
}

/* 중간에 글씨 두줄 섹션2 */

/* 메인 섹션 원 */
section.one{
    margin-top: 360px;
    color: var(--font-black);
}
section.one h2{
    font-family: 'Merriweather', serif;
    font-size: 146px;
    text-transform: uppercase;
    font-weight: 300;
}
.wide-Able-Image + h2{
    text-align: right;
}

.wide-Able-Image {
    width: 100%;
    height: 600px;
}
.flexable-Image{
    height: 100%;
    width: 50%;
    background-position: center;
    margin: 0 auto;
    background-image: url(image/Hero-interest-snorkeling2.adapt.1900.1.jpg);
}
.flexable-Image.wide{
    width: 100%;
}

.DFY{
    width: 100%;
}
section.one p {
    text-align: justify;
    font-family: 'Noto Sans', sans-serif;
    font-size: 52px;
    margin-top: 40px;
    line-height: 46.44px;
    color: var(--font-black);
    letter-spacing: -3.6px;
    text-transform: uppercase;
}

.info2{
    display: inline-block;
    width: 560px;
    height: 100px;
    font-size: 14.5px;
    color: var(--font-black);
    margin-top: 30px;
    line-height: 20px;
    text-align: center;
    font-weight: 500;
}

section.one .DFY .box{
    margin-left: auto;
    display:block;
    width: 1080px;
}

/* 메인 섹션 투 */
section.two{
    margin-top: 400px;
    color: var(--font-black);
    height: 280px;
    width: 100%;
    overflow: hidden;
}
section.two div{
}

section.two p{
    line-height: 140px;
    font-size: 160px;
    white-space: nowrap;
    font-weight: 500;
    color: var(--font-black);
    font-family: 'Noto Sans', sans-serif;
    text-transform: uppercase;
}
section.two p:nth-child(1){

}
section.two p:nth-child(2){
    color: transparent;
    -webkit-text-stroke: 2px var(--font-black);
}

/* 메인 섹션 쓰리 */
section.three{
    margin-top: 240px;
}

/* 그리드 부분 */
.grid-wrap{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25%, auto));
    grid-template-rows: 1fr 1fr;
    row-gap: 100px;
    column-gap: 0px;
}

/* 그리드 아이템 부분 */
.item{
    box-sizing: border-box;
    
}

.item .item-card{
    padding: 0 12px;
    cursor: pointer;
}
.item .item-card figure{
    width: 100%;
    background-color: aliceblue;
    text-transform: uppercase;
}
.item .item-card figcaption{
    text-transform: uppercase;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    border-top: 2px solid var(--fig-color);
    border-bottom: 2px solid var(--fig-color);
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0;
    margin-top: 16px;
    background-color: var(--body-color);
    color: var(--font-black);
}
.item .item-card figcaption span{
    color: #9E9D99;
    float: right;
}

/* 그리드 사진 부분 */
.item .item-card figure{
    background-size: cover;
    background-position: center;
    transition: transform 0.2s ease-in-out;
}
.item:nth-child(1) .item-card figure{
    height: 514px;
    background-image: url(image/abner-abiu-castillo-diaz-N5ByCirHVqw-unsplash.jpg);
}
.item:nth-child(2) .item-card figure{
    height: 364px;
    background-image: url(image/erin-murphy-pGIUbgApZPE-unsplash.jpg);
}
.item:nth-child(3) .item-card figure{
    height: 360px;
    background-image: url(image/david-clode-o3r7oVPZnZI-unsplash.jpg);
}
.item:nth-child(4) .item-card figure{
    height: 520px;
    background-image: url(image/david-clode-fG1fdervp1E-unsplash.jpg);
}
.item:nth-child(5) .item-card figure{
    height: 360px;
    background-image: url(image/mohamed-nashah-GIsFHopvbPA-unsplash.jpg);
}
.item .item-card > div {
    overflow: hidden;
}
.item .item-card figure:hover{
    transform: scale(1.05);
}

/* 그리드 영역 부분 */
.item:nth-child(1){
    
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
	grid-row-end: 2;
}
.item:nth-child(2){

    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
	grid-row-end: 2;
}
.item:nth-child(3){

    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
	grid-row-end: 3;
}
.item:nth-child(4){

    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
	grid-row-end: 3;
}
.item:nth-child(5){

    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
	grid-row-end: 3;
}

/* 배경에 세로줄 */
.back-Flex {
    box-sizing: border-box;
    width: calc((100vw - 240px));
    height: 860%;
    top: 0;
    left: 120px;
    position: absolute;
    z-index: -1;
}
.back-Flex span{
    position: absolute;
    display: block;
    height: 100%;
    width: 2px;
    background: var(--line-color);
    transform: translateX(-9px);
}
.back-Flex span:nth-child(1){
    left: 25%;
}
.back-Flex span:nth-child(2){
    left: 50%;
}
.back-Flex span:nth-child(3){
    left: 75%
}
.back-Flex span:nth-child(4){
    left: 0%
}
.back-Flex span:nth-child(5){
    left: 100%
}

/* 부터 */
footer{
    margin-top: 240px;
    background-color: black;
    height: 400px;
    padding-top: 100px;
    padding-left: 120px;
    padding-right: 120px;
}
.footer_flex{
    color: var(--font-white);
    display: flex;
    justify-content: space-between;
    justify-items: left;
}

.footer_flex div p {
    margin-bottom: 12px;
    color: #cccbc9;
}

.footer_flex .flex_one p {
    font-size: 12px;
    margin-top: 80px;
    color: #9E9D99;
}

.footer_flex div h3{
    margin-bottom: 24px;
    font-weight: 400;
}

.input_Flex{
    display: flex;
    align-items: center;
    margin-bottom: 60px;
}

input[type = "text"]{
    background-color: black;
    border: none;
    width: 360px;
    margin-right: 36px;
    border-bottom: 1px solid #4B4A4A;
    color: var(--font-white);
    padding: 6px 0 6px 0;
}

input:focus{
    outline: none;
}
